body{
    background-color: paleturquoise;
}
h1{
    color: palegoldenrod;
    background-color: lime;
}
#show_sketch{

    float: right;
}
canvas{

    border: 5px solid white;
    margin-top: 100px;
    border-radius: 20px;
    animation-name:sakuraTheTrashCan;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes sakuraTheTrashCan {
    from{box-shadow: 1px 1px 38px grey;}
    to {box-shadow: 1px 1px 38px white;}
}

p{

    padding-top: 10px;
    font-size: 25px;
}